<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<title>添加用户</title>
</head>
<body>
    <form method="POST">
        <p><label for="user_id">用户名：</label><input id="user_id" name="user_id" /></p>
        <p><label for="password">密码：</label><input type="password" id="password" name="password" /></p>
        <p><input type="submit" value="添加" /></p>
    </form>
</body>
</html>
